* {box-sizing: border-box;}
body {background: #ccc;}

.greeting {
    color: black;
    text-shadow: 1px 1px 3px rgba(255,255,255, .5);
    text-align: center;
}

#searchheader {
    padding: 30px 20px;
}